langchain-groq
langchain
python-dotenv
langchain-community 
streamlit
langchain-huggingface
langchain-core
langchain-text-splitters
ipykernel
dotenv
sentence_transformers
faiss-cpu
torchvision
pypdf
arxiv
wikipedia

#chabot with langgraph
langgraph

# langchain
langsmith
langchain_tavily


#for mcp 
langchain-mcp-adapters
mcp
