langchain-groq
langchain
python-dotenv
langchain-community 
streamlit
langchain-huggingface
langchain-core
langchain-text-splitters
ipykernel
dotenv


#chabot with langgraph
langgraph

# langchain
langsmith
langchain_tavilyu

#for mcp 
langchain-mcp-adapter
mcp
